@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Monoton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body{
    background-color: #29455a;
}
h1{
    color: rgb(20, 107, 238);
    text-align: center;
    padding: 200px;
    font-size: 100px;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}



a {
  text-decoration: none;
  outline: none;
  
}

li {
  list-style: none;
  
  
}



.logo img{
    width: 80px;
    height: 70px;
    margin-left: 80px;
}

@keyframes hover {
  50% {
    transform: translateX(10px);
  }
}
.offcanvas-menu > label {
  top: 30px;
  left: 30px;
  position: fixed;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  z-index: 9999;
}
.offcanvas-menu label span,
.offcanvas-menu label span::before,
.offcanvas-menu label span::after {
  transition: background 0.3s, transform 0.3s;
}
.offcanvas-menu label span,
.offcanvas-menu label span::before,
.offcanvas-menu label span::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 40px;
  background: #2f86c9;
}
.offcanvas-menu label span::before {
  transform: translateY(-12px);
}
.offcanvas-menu label span::after {
  transform: translateY(12px);
}
.offcanvas-menu nav {
  position: fixed;
  height: 100%;
  width: 300px;
  left: -350px;
  overflow: hidden;
  background: #082337;
  transition: 0.3s ease;
  padding: 40px 30px;
}
.offcanvas-menu nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.offcanvas-menu nav > div label {
  width: 30px;
  height: 30px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}


.offcanvas-menu nav > ul {
  margin-top: 30px;
}

.offcanvas-menu nav > ul li {
  cursor: pointer;
  padding: 10px 0;
  transform: translateX(-30px);
  opacity: 0;
  transition: 0.4s ease;
}

.offcanvas-menu nav > ul li a {
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  display: block;
  background-color: transparent;
  border: 2px solid rgb(44, 126, 176);
  border-radius: 10px;
  width: 130px;
  margin-left: 55px;
  text-align: center;
}

.offcanvas-menu nav > ul li:hover {
  animation: hover 0.5s;
}

.offcanvas-menu input[type=checkbox] {
  display: none;
}
.offcanvas-menu input[type=checkbox]:checked ~ label {
  opacity: 0;
  pointer-events: none;
}
.offcanvas-menu input[type=checkbox]:checked ~ nav {
  left: 0;
}
.offcanvas-menu input[type=checkbox]:checked ~ nav label span {
  background: transparent;
}
.offcanvas-menu input[type=checkbox]:checked ~ nav label span:before {
  transform: rotate(-45deg);
}
.offcanvas-menu input[type=checkbox]:checked ~ nav label span:after {
  transform: rotate(45deg);
}
.offcanvas-menu input[type=checkbox]:checked ~ nav label span:before,
.offcanvas-menu input[type=checkbox]:checked ~ nav label span:after {
  transition-delay: 0.2s;
}
.offcanvas-menu input[type=checkbox]:checked ~ nav ul li {
  opacity: 1;
  transform: translateX(0px);
}
.offcanvas-menu input[type=checkbox]:checked ~ nav ul li:nth-child(1) {
  transition-delay: 0.1s;
}
.offcanvas-menu input[type=checkbox]:checked ~ nav ul li:nth-child(2) {
  transition-delay: 0.2s;
}
.offcanvas-menu input[type=checkbox]:checked ~ nav ul li:nth-child(3) {
  transition-delay: 0.3s;
}
.offcanvas-menu input[type=checkbox]:checked ~ nav ul li:nth-child(4) {
  transition-delay: 0.4s;
}
.offcanvas-menu input[type=checkbox]:checked ~ nav ul li:nth-child(5) {
  transition-delay: 0.5s;
}
.offcanvas-menu input[type=checkbox]:checked ~ nav ul li:nth-child(6) {
  transition-delay: 0.6s;
}
.offcanvas-menu input[type=checkbox]:checked ~ nav ul li:nth-child(7) {
  transition-delay: 0.7s;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 4rem;
  color: blue;
}
section:nth-child(odd) {
  background: #120a21;
}
section:nth-child(even) {
  background: #170d28;
}